<div class="canvas">
  <div class="containerTop">
    <div class="topLeft">
      <div class="users">
        <canvas-box title="Users & Customers"></canvas-box>
      </div>
    </div>
    <div class="topLeftMid">
      <div class="problems">
        <canvas-box title="Problems" subtitle="What problems do prospective users and customers have today that your solution addresses?" [content]="canvas.problems"></canvas-box>
      </div>
      <div class="solutionsToday">
        <canvas-box title="Solutions Today"></canvas-box>
      </div>
    </div>
    <div class="topMid">
      <div class="solutionIdeas">
        <canvas-box title="Solution Ideas"></canvas-box>
      </div>
    </div>
    <div class="topRightMid">
      <div class="userValue">
        <canvas-box title="User Value"></canvas-box>
      </div>
      <div class="adoption">
        <canvas-box title="Adoption Strategy"></canvas-box>
      </div>
    </div>
    <div class="topRight">
      <div class="userMetrics">
        <canvas-box title="User Metrics"></canvas-box>
      </div>
    </div>
  </div>
  <div class="containerBottom">
    <div class="businessProblems">
      <canvas-box title="Business Problems"></canvas-box>
    </div>
    <div class="budget">
      <canvas-box title="Budget"></canvas-box>
    </div>
    <div class="businessMetrics">
      <canvas-box title="Business Metrics"></canvas-box>
    </div>
  </div>
</div>